In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
%matplotlib notebook
import warnings
warnings.simplefilter('ignore')
import pandas as pd
pd.options.display.max_rows = 20

pt118 = pd.read_excel('/content/drive/My Drive/EEC 193/EEC 193B/Burn_Glucose_Data.xlsx', '118')
pt185 = pd.read_excel('/content/drive/My Drive/EEC 193/EEC 193B/Burn_Glucose_Data.xlsx', '185')
pt199 = pd.read_excel('/content/drive/My Drive/EEC 193/EEC 193B/Burn_Glucose_Data.xlsx', '199')
pt205 = pd.read_excel('/content/drive/My Drive/EEC 193/EEC 193B/Burn_Glucose_Data.xlsx', '205')
pt232 = pd.read_excel('/content/drive/My Drive/EEC 193/EEC 193B/Burn_Glucose_Data.xlsx', '232')
pt240 = pd.read_excel('/content/drive/My Drive/EEC 193/EEC 193B/Burn_Glucose_Data.xlsx', '240')

   PT232   Unnamed: 1    Unnamed: 2
0   Time  POC Glucose  Insulin Rate
1      0          178             1
2      1          169           1.3
3      2          195           1.9
4      3          176           1.9
..   ...          ...           ...
32    38          143             0
33    40          133             0
34    41          146             0
35    42          156             1
36    43          152             1

[37 rows x 3 columns]